*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image:
        linear-gradient(rgba(255,255,255,0.5), rgba(231, 231, 231, 0.5)),
        url("./assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------- HEADER ---------- */

header{
    height: 150px;
}

nav{
    height: 100%;
    background: rgba(255, 255, 255, 0.15);
    position: relative;

    display: flex;
    align-items: center;

    padding: 0 40px;
}

nav > a{
    flex: 1;
}

/* ---------- LOGO ---------- */

.logo{
    width: 280px;
    height: auto;
}

/* ---------- MENU ---------- */

.menu{
    flex: 1;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.menu a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover{
    color: #ff8800;
    transform: scale(1.2);
}

/* ---------- HERO ---------- */

main{
    flex: 1;
    display: flex;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 100px;
}

/* IMPORTANT : la bulle se positionnera par rapport à ce conteneur */

.hero-image{
    position: relative;
    display: inline-block;
}

.photo{
    width: 700px;
    transition: transform 5s ease;
}

.hero-image:hover .photo{
    transform: scale(1.2);
}

.hero-content{
    width: 500px;
}

.hero-content h1{
    font-size: 100px;
    margin-bottom: 15px;
}

.hero-content h2{
    color: #ff8800;
    margin-bottom: 20px;
}

.hero-content p{
    margin-bottom: 25px;
    line-height: 1.5;
}

/* ---------- BULLE ---------- */

.bubble{
    position: absolute;

    top: 120px;
    left: -120px;

    background: white;
    color: #ff8800;

    padding: 12px 18px;
    border-radius: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    opacity: 0;

    transform: translateX(-20px);

    transition: all .3s ease;
}

.hero-image:hover .bubble{
    opacity: 1;
    transform: translateX(0);
}

/* ---------- BOUTON ---------- */

.button{
    font-size: 120%;
    display: inline-block;
    text-decoration: none;
    background: #ff8800;
    color: white;
    padding: 12px 25px;
    border-radius: 5px;
    transition: background-color .3s;
}

.button:hover{
    background: #d96f00;
}

/* ---------- FOOTER ---------- */

footer{
    padding: 20px;
    background-color: black;
}

.socials{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.socials a{
    text-decoration: none;
    color: white;
}

.social-logo{
    width: 30px;
    transition: transform .3s ease;
}

.social-logo:hover{
    transform: scale(1.2);
}